In [29]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [30]:
%sql sqlite:///test1.db

In [6]:
%%sql
create table if not exists Experiments
    (ename varchar(20), 
     startdate day,
     enddate day ,
     dname varchar(20),
     primary key (ename));
create table if not exists stages
    (ename varchar(20),
    sno int,
    startdate day,
    enddate day,
    noofpatients int,
    comments varchar(20),
    primary key (ename, sno));
create table if not exists Patients 
    (pname varchar(20),
     pphone int,
     birthdate day,
     gender varchar(20),
     startdate day,
     ename varchar(20),
     sno int,
     reasonforleaving varchar(20),
     dname varchar(20),
     primary key (pname));
create table if not exists Doctors
    (dname varchar(20),
    medicalcentre varchar(20),
    dphone int,
    email varchar(20),
    primary key (dname));
create table if not exists Participate
    (dname varchar(20),
    ename varchar(20),
    volunteeryn varchar(20),
    primary key (dname, ename));

 * sqlite:///test1.db
Done.
Done.
Done.
Done.
Done.

[]

In [23]:
%%sql

-- delete all existing data
DELETE FROM Experiments;
DELETE FROM stages;
DELETE FROM Patients;
DELETE FROM Doctors;
DELETE FROM Participate;


-- lets add some data
-- Inserting into Experiments table
INSERT INTO Experiments(ename, startdate, enddate, dname) VALUES 
('Experiment1', '2023-01-01', '2023-02-01', 'Dr.John'),
('Experiment2', '2023-02-15', '2023-03-15', 'Dr.Alice');

-- Inserting into stages table
INSERT INTO stages(ename, sno, startdate, enddate, noofpatients, comments) VALUES 
('Experiment1', 1, '2023-01-01', '2023-01-15', 10, 'Initial stage'),
('Experiment1', 2, '2023-01-16', '2023-02-01', 8, 'Final stage');

-- Inserting into Patients table
INSERT INTO Patients(pname, pphone, birthdate, gender, startdate, ename, sno, reasonforleaving, dname) VALUES 
('John Doe', 1234567890, '1985-06-15', 'Male', '2023-01-01', 'Experiment1', 1, NULL, 'Dr.John'),
('Jane Smith', 0987654321, '1990-04-10', 'Female', '2023-01-01', 'Experiment1', 1, 'Completed', 'Dr.Alice');

-- Inserting into Doctors table
INSERT INTO Doctors(dname, medicalcentre, dphone, email) VALUES 
('Dr.John from a', 'MedCentre A', 1122334455, 'dr.john@email.com'),
('Dr.Alice from b', 'MedCentre B', 5566778899, 'dr.alice@email.com'),
('Dr.David from b', 'MedCentre B', 9988776655, 'dr.david@emal.com'),
('Dr.Bob from c', 'MedCentre C', 4433221100, 'dr.bob@mail.com');

-- Inserting into Participate table
INSERT INTO Participate(dname, ename, volunteeryn) VALUES 
('Dr.John', 'Experiment1', 'Yes'),
('Dr.Alice', 'Experiment1', 'No'),
('Dr.David', 'Experiment2', 'Yes'),
('Dr.Bob', 'Experiment2', 'Yes');

 * sqlite:///test1.db
2 rows affected.
2 rows affected.
2 rows affected.
4 rows affected.
4 rows affected.
2 rows affected.
2 rows affected.
2 rows affected.
4 rows affected.
4 rows affected.

[]

In [32]:
%%sql

select * from stages;
-- from Patients;
-- group by p.dname;
-- having p.reasonforleaving = 'Completed';
--  and p.dname exists in 
--     (select d.dname
--     from paricipate as d
--     where volunteeryn = 'Yes'));

 * sqlite:///test1.db
Done.
Done.

[]